# MongoDB Connection
MONGO_CONNECTION_STRING=mongodb://login:password@localhost:27017/db-name

# App Port
PORT=3000

# Access Token Properties
ACCESS_TOKEN_SECRET=d7c1c84990b5637c25e78a293b9882c4779a0f3a7f14e2f9e8cfe107bec4702b'
ACCESS_TOKEN_EXPIRES_IN=1d
ACCESS_TOKEN_ISSUER=app-name
ACCESS_TOKEN_AUDIENCE=OurFavAudince

# Cors Options
CORS_ORIGIN=localhost:4200

# Multer File Upload Options
# UPLOAD_PATH - Relative To Project Root
# FILE_MAX_SIZE - In Bytes
# ... For path.dirname()
UPLOAD_PATH=./src/shared/storage/uploads/...
ATTACHMENTS_PATH=./src/shared/storage/attachments/...
FILE_MAX_SIZE=12345

# Max Form Attachments
MAX_REGULAR_FORM_ATTACHMENTS=5
MAX_VIPNET_FORM_ATTACHMENTS=3
MAX_CONNECT_FORM_ATTACHMENTS=1

# Nodemailer Options
# Currently supported service - Yandex only
EMAIL_USER=<email>@yandex.ru
EMAIL_PASS=<password>
